
body{
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
}

#app{
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-columns:  */
  height:100vh;
  background: #fff;
  color: #71c9ce;
  justify-content: center;
  grid-gap: 0.5em;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.holder{
box-shadow: 0 0 3px #e3fdfd;
border-radius: 5px;
padding: 1%;
}

.entry{
  background: #e3fdfd;
}

#entryHolder{
padding: 5%;
text-align: center;
}

#date{
display: inline-block;
}

#temp{
display: inline-block;
margin: auto 10px auto 10px;
}

#content{
display: inline-block;
}

.headline {
text-align: center;
}
.title{
text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
  display:block;
  font-size: 20px;
}

input{
  display:block;
  height: 60px;
  width: 320px;
  background:#cbf1f5;
  color: #71c9ce;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 5px;
}

button{
  width: 300px;
  height: 70px;
  background: #71c9ce;
  color: #cbf1f5;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 5px 3px #e3fdfd;
  border-radius: 5px;
}
button:hover{
  background: #cbf1f5;
  color: #71c9ce;
}
h1{
  font-size: 36px;
}

textarea{
  background:#cbf1f5;
  color: #71c9ce;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  height: 100px;
  border: none;
  border-radius: 5px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus{
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
  color: #a6e3e9;
  font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a6e3e9;
  font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a6e3e9;
  font-family: 'Oswald', sans-serif;

}
